<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pixel Perfect Portfolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/main/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/main/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/main/favicon-16x16.png">
    <link rel="icon" sizes="16x16" href="../static/img/main/favicon.ico">
    <link rel="manifest" href="../static/img/main/manifest.json">
    <link rel="mask-icon" href="../static/img/main/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/css/main/bootstrap.min.css" />

    <!-- Font Awesome core CSS -->
    <link rel="stylesheet" href="../static/css/main/font-awesome.min.css" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/main/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Hero Section, Background Image change in css -->
    <div id="top" class="hero background-overlay">
    
        <!-- Name & Description -->
        <div class="hero-content">
            <h1>NOCaPP Employee Database Management System</h1>

        </div><!-- /.hero-content -->

        <div class="hero-arrow page-scroll home-arrow-down">
            <a class="" href="#intro"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div><!-- /.hero-arrow -->

    </div><!-- /.hero -->
    <!-- End Hero -->

    <!-- Header -->
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation" data-spy="affix">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Name -->
                    <div class="page-scroll site-logo">
                        <a href="#top">NOCAPP</a>
                    </div>

                </div><!-- /.navbar-header -->

                <div class="main-menu collapse navbar-collapse" id="portfolio-perfect-collapse">

                    <!-- Navigation -->
                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#top">Home</a></li>
                        <li class="page-scroll"><a href="#team">Team</a></li>
                        <li class="page-scroll"><a href="/employee">Employee</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->
            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->
    <!-- End Header -->

    <!-- Main content -->
    <main id="main" class="site-main">


        <!-- Team section -->
      <section>
      <div id="landing-offer" class="pad-sec">
        <div class="container">

          <div class="title-section big-title-sec animated out" data-animation="fadeInUp" data-delay="0">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <!-- Team section -->
                <section class="site-section section-team" id="team">
                  <div class="container">
                      <h2>MEET MY TEAM</h2>
                      <p class="section-subtitle"><span>Crew</span></p>
                      
                      <div class="team">
                          <div class="row">   
                              <!-- Team Member --> 
                              <div class="col-md-3 col-xs-6">
                                  <div class="team-member">
                                      <div class="flipper">
                                          <div class="team-member-front">
                                              <div class="team-member-thumb">
                                                  <img src="../static/img/main/zb.jpg" class="img-res" alt="">
                                              </div>  <!-- /.team-member-thumb -->
                                              <p class="team-member-front-name">Koh Zheng Bin</p>
                                          </div><!-- /.team-member-front -->
                                          <div class="team-member-back">
                                              <div class="team-member-info">
                                                  <h3 class="team-member-back-name">Koh Zheng Bin</h3>
                                                  <p class="team-member-back-position">Cloud Expert</p>
                                                  <div class="social-icons small">
                                                    <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                                <a href="/zb">
                                                    <button style="margin-top: 25px; color: black; font-size: medium; background-color: cadetblue;">View Details</button>
                                                </a>
                                              </div><!-- /.team-member-back-info -->
                                          </div><!-- /.team-member-back -->  
                                      </div>         
                                  </div><!-- /.team-member -->       
                              </div>
                              <!-- Team Member --> 
                              <div class="col-md-3 col-xs-6">
                                  <div class="team-member">
                                      <div class="flipper">
                                          <div class="team-member-front">
                                              <div class="team-member-thumb">
                                                  <img src="../static/img/main/zm.jpg" class="img-res" alt="">
                                              </div>  <!-- /.team-member-thumb -->
                                              <p class="team-member-front-name">Chia Zheng May</p>
                                          </div><!-- /.team-member-front -->
                                          <div class="team-member-back">
                                              <div class="team-member-info">
                                                  <h3 class="team-member-back-name">Chia Zheng May</h3>
                                                  <p class="team-member-back-position">Cloud Expert</p>
                                                  <div class="social-icons small">
                                                    <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                                <a href="/zm">
                                                    <button style="margin-top: 25px; color: black; font-size: medium; background-color: cadetblue;">View Details</button>
                                                </a>
                                              </div><!-- /.team-member-back-info -->
                                          </div><!-- /.team-member-back -->  
                                      </div>         
                                  </div><!-- /.team-member -->       
                              </div>
                              <!-- Team Member --> 
                              <div class="col-md-3 col-xs-6">
                                  <div class="team-member">
                                      <div class="flipper">
                                          <div class="team-member-front">
                                              <div class="team-member-thumb">
                                                  <img src="../static/img/main/ys.jpg" class="img-res" alt="">
                                              </div>  <!-- /.team-member-thumb -->
                                              <p class="team-member-front-name">Goh Yi Shwea</p>
                                          </div><!-- /.team-member-front -->
                                          <div class="team-member-back">
                                              <div class="team-member-info">
                                                  <h3 class="team-member-back-name">Goh Yi Shwea</h3>
                                                  <p class="team-member-back-position">Cloud Expert</p>
                                                  <div class="social-icons small">
                                                    <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-twitter"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#" class="rectangle"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                                <a href="/ys">
                                                    <button  style="margin-top: 25px; color: black; font-size: medium; background-color: cadetblue;">View Details</button>
                                                </a>
                                              </div><!-- /.team-member-back-info -->
                                          </div><!-- /.team-member-back -->  
                                      </div>         
                                  </div><!-- /.team-member -->       
                              </div> 
                          </div>
                      </div><!-- /.team -->   
                  </div>
              </section><!-- /.section-team -->
              </div>
            </div> <!-- End row -->
          </div> <!-- end title-section -->
        </div> <!-- End container -->
      </div> <!-- End landing-offer-section -->
    </section>
        <!-- End Team section -->
        
        <!-- Social Networks section --> 
        <section class="section-networks blue-bg">
            <div class="container">
                <a href="#" class="rectangle">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-youtube-play"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-dribbble"></i>
                </a>
            </div>
        </section><!-- /.section-networks-->
        <!-- End Social Networks section --> 

    </main><!-- /#main -->
    <!-- End Main content -->

    <!-- Footer --> 
    <footer id="colophon" class="site-footer">

        <div class="container-fluid">

            <ul class="list-unstyled list-inline">
                <li class="page-scroll"><a href="#top">Home</a></li>
                <li class="page-scroll"><a href="#team">Team</a></li>
                <li class="page-scroll"><a href="/employee">Employee</a></li>
            </ul>

            <div class="page-scroll">
                <a href="#top" class="rectangle">
                    <i class="fa fa-angle-double-up"></i>
                </a>
            </div>

        </div>

        <div class="container text-center">
            <p class="copyright">&copy; NOCAPP - 2023</p>
        </div>

    </footer><!-- /#footer -->
    <!-- End Footer --> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery core js | Do not Delete -->
    <script src="../static/js/main/jquery.min.js"></script>

    <!-- Bootstrap core js | Do not Delete -->
    <script src="../static/js/main/bootstrap.min.js"></script>

    <!-- Bootstrap progressbar JS -->
    <script src="../static/js/main/bootstrap-progressbar.min.js"></script>

    <!-- Count To JS -->
    <script src="../static/js/main/jquery.countTo.min.js"></script>

    <!-- Easing JS -->
    <script src="../static/js/main/jquery.easing.min.js"></script>

    <!-- Shuffle JS -->
    <script src="../static/js/main/jquery.shuffle.min.js"></script>

    <!-- Slick Carousel JS -->
    <script src="../static/js/main/slick.min.js"></script>

    <!-- Touchswipe JS -->
    <script src="../static/js/main/touchswipe.min.js"></script>

    <!-- Custom JS -->
    <script src="../static/js/main/script.js"></script>
  
</body>
</html>
