<!DOCTYPE html>
<html>
<head>
	<title>Total Salary Calculated</title>
</head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>CALCULATION COMPLETED</h1><br>
			<h2>The Total Amount of Salary Between Employee ID {{ min_id }} AND Employee ID {{ max_id }} :</h2><br>
			<h2>$ {{ total }}</h2><br>

			<form>
				<button type="submit" formaction="/gotototalsalary" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
			</form>
		</body>
	</font>
</center>

<body>

</body>
</html>
