<!DOCTYPE html>
<html>
<head>
	<title>Get Total Salary</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Calculate Total Salary Between The Range of 2 Given Employee ID</h1>

		<body bgcolor="lightgrey">

			<form action="/caltotalsalary" autocomplete="on" method="POST">
				<h2 style="color: grey">Please Key In 2 Valid Employee ID</h2>

		  		Employee ID 1:<br> <input style="height:25px;font-size:14pt;" type="number" name="min_emp_id" autofocus size="40"><br><br>
        
        	Employee ID 2:<br> <input style="height:25px;font-size:14pt;" type="number" name="max_emp_id" autofocus size="40"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Compute</button><br><br>
			</form>
			<form>
				<button type="submit" formaction="/employee" style="background: white; height: 45px; width: 200px; color: black; size: 5; font:oblique;" >Back</button>
			</form>

		</body>
	</font>
</center>
</html>
