<!DOCTYPE html>
<html>
<head>
	<title>EMPLOYEE INFORMATION UPDATED</title>
</head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>UPDATE SUCCESSFUL</h1><br>
			<h2>Following Employee has been updated to the database</h2><br>
                        <h2>{{ id }}</h2><br>
			<h2>{{ name }}</h2><br>

			<form>
				<button type="submit" formaction="/gotoupdateemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
			</form>
		</body>
	</font>
</center>

<body>

</body>
</html>
