<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Zheng May Portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/zm/base.css">
    <link rel="stylesheet" href="../static/css/zm/vendor.css">
    <link rel="stylesheet" href="../static/css/zm/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/zm/modernizr.js"></script>
    <script src="../static/js/zm/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/zm/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/zm/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/zm/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="../template/index.html">
                <h1 class="logo" style="color: white;" >Zheng May's Portfolio</h1>
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
                <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact us">Say Hello</a></li>	
            </ul>

            <ul class="header-social">
                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>Hello, I'm Chia Zheng May</h3>
                <h1>
                    Data Scientist <br>
                    and Cloud Service <br>
                    Based In Malaysia.
                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    Scroll For More
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">
                    Hello, I am a data scientist with expertise in cloud services. I specialize in using cloud computing 
                    to develop scalable and efficient data-driven solutions that help businesses make better decisions. 
                    With a background in computer science and statistics, I am well-equipped to handle the technical and 
                    analytical aspects of cloud-based data science.
                    </p>

                    <p>
                    As a data scientist, I am skilled in extracting, cleaning, and analyzing data to uncover insights 
                    and trends that can inform business strategies. I have experience working with a variety of data types, 
                    including structured, unstructured, and semi-structured data, and have used a range of statistical 
                    and machine learning techniques to build predictive models and identify patterns in large datasets.
                    </p>

                    <p>
                    In addition to my data science skills, I am also highly proficient in cloud computing technologies. 
                    I have worked with a range of cloud platforms, including Amazon Web Services (AWS), Google Cloud Platform (GCP), 
                    and Microsoft Azure, and have developed a deep understanding of how to use these services to create efficient, 
                    scalable data solutions. I am also experienced in using cloud-based data storage systems, such as Amazon S3, 
                    Google Cloud Storage, and Azure Data Lake, to store and manage large datasets.
                    </p>

                    <p>
                    Overall, my expertise in data science and cloud services allows me to create efficient and scalable 
                    data solutions that meet the needs of businesses of all sizes. I am committed to delivering high-quality 
                    results that enable businesses to make informed decisions and drive growth.
                    </p>
                </div>
            </div>
    
            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--stroke full-width">Hire Me</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">Download CV</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Work & Education</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2018 - Present</p>
                                <h3 class="item-title">Amazon Inc</h3>
                                <h5>Junior Data Scientist</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                As a junior data scientist at Amazon, 
                                your job scope would typically involve 
                                working on a range of data-driven projects 
                                to help the company optimize its operations 
                                and improve its customer experience. 
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2011 - June 2015</p>
                                <h3 class="item-title">Tunku Abdul Rahman University of Management and Technology </h3>
                                <h5>Bachelor Degree in Computer Science (Data Science)</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                As an undergraduate data scientist with a CGPA of 3.88, 
                                I have developed a strong foundation in data analysis and programming, 
                                as well as a passion for using data to solve complex problems.
                                Throughout my studies, I have taken a range of courses in data science, 
                                including data mining and machine learning, statistical methods, database 
                                management systems, and data visualization. 
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">Get In Touch</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:#0">chiazm-wp19@student.tarc.edu.my</a>
                </p>

                <p class="section-desc">
                I'm happy to connect, listen and help. Let's work together and build
                something awesome. Let's turn your idea to an even greater product.
                <a href="mailto:#0">Email Me</a>.
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>Call Me</h4>
                <a href="tel:197-543-2345">+6012-3456789</a>
            </div>

            <div class="column large-7 medium-full contact-social">
                <h4>Social</h4>
                <ul>
                    <li><a href="#0" title="Facebook">Facebook</a></li>
                    <li><a href="#0" title="Twitter">Twitter</a></li>
                    <li><a href="#0" title="Instagram">Instagram</a></li>
                </ul>
            </div>

        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span>© Copyright Zheng May 2023</span> 
            </div>            

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </footer>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/zm/jquery-3.2.1.min.js"></script>
    <script src="../static/js/zm/plugins.js"></script>
    <script src="../static/js/zm/main.js"></script>

</body>